{% load static %} {% load bootstrap4 %} {% load bootstrap_icons %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Photo Site{% endblock title %}</title>
        {% bootstrap_css %} {% bootstrap_javascript jquery='full' %} 
        <!--<script src="{% static '/js/dg_photography.js' %}"></script>-->
        <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    </head>

    <body class="m-3">
        <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded">
            <a class="navbar-brand" href="{% url 'photo_site:index' %}">
                <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" /> Photo Site
            </a>
        </nav>
        
        <div class="btn-group float-right shadow bg-white rounded">
            {% if user.is_authenticated %}
            <button class="btn btn-outline-secondary dropdown-toggle text-secondary" type="button" data-toggle="dropdown" aria-expanded="false">
                Hello, {{ user.username|title }}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'users:view_profile' user.id %}">{% bs_icon 'person-badge' %}{{ user.username|title }}'s Profile</a>
                <a class="dropdown-item" href="{% url 'photo_site:add_photo' %}">{% bs_icon 'image-fill' %} Add Photo</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}">{% bs_icon 'x-circle' %}Log out</a>
            </div>
            {% else %}
            <button class="btn btn-outline-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Sign in
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
                <a class="dropdown-item" href="{% url 'users:login' %}">Log in</a>
            </div>
            {% endif %}
        </div>
        <br />
        <main class="mt-3">
            {% block content %}
            {% endblock content %}
            <br />
            <footer>
                <div class="container text-center w-75 pt-4 border-top border-muted">
                    {% bs_icon 'c-circle' %} Photo-Site, 2023 
                </div>
            </footer>
        </main>
    </body>
</html>