{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %}

{% block title %}Add Comment{% endblock title %}

{% block content %}
<div class="container w-75">
    <h4 class="display-4 text-center my-2" id="comment-create">Create Comment</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'photo_site:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Comment / Photo {{ photo.id }}</li>
        </ol>
    </nav>
    <div class="container w-75">
        
        <div class="container p-4 my-2">
          <form method="POST" action="{% url 'photo_site:comment' photo.id %}">
          {% csrf_token %} 
          <p>
            {{ form.as_p }}
          </p>
            <button
              type="submit"
              class="btn btn-lg btn-outline-primary float-right"
              role="button"
              alt="submit"
              value="Save"
            >
              {% bs_icon 'image-fill' size="1.1em" %} Save
            </button>
          </form>
        </div>
    </div>
</div>
{% endblock content %}