{% extends "photo_site/base.html" %} {% load static %} {% load bootstrap4 %} {% load bootstrap_icons %}

{% block title %}Photo-Site Home{% endblock title %}

{% block content %}
<div class="container w-75">
    <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
        <h4 class="display-4 text-secondary text-center my-2">Photo Site</h4>
    </div>
    <br />
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-seconary mx-2 mb-2"><a class="text-secondary" href="{% url 'photo_site:photos' %}">{% bs_icon 'images' %} Photos</a></button>
    </div>
</div>
{% endblock content %}